

<%- include("header") -%>
<!-- ejs layout property to have different .ejs file for header and footer section -->
<!-- to make it more consistent throughout the server -->
    <div class="box" id="heading">
      <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">
      <!-- using forEach for looping the items and .name to specifying what to render -->
      <% newListItems.forEach(function(item){ %>
        <div class="item">
          <input type="checkbox">
          <p><%=item.name%></p>

        </div>

      <% }); %>

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">

        <button type="submit" name="list" value = <%= listTitle %> > + </button>
      </form>
    </div>

<%- include("footer") -%>
